#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: var(--nav-height);
  background-color: rgb(206, 58, 58);
  color: rgb(255, 255, 255);
}

#navbar .left {
  display: flex;
}
