html,
body {
  --color-grayscale-000: #ffffff;
  --color-grayscale-100: #f2f2f2;
  --color-grayscale-200: #f2f4f8;
  --color-grayscale-500: #cccccc;
  --color-grayscale-800: #333333;
  --color-grayscale-999: #000000;
  --color-skyblue-500: #18a0fb;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
